<div class="jumbotron">
  <h1 class="text-center">MEAN Stack Application</h1>
  <p class="lead text-center">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
  <p *ngIf="!authService.loggedIn()" class="text-center">
  	<a class="btn btn-lg btn-primary" routerLink="/register" role="button">Register &raquo;</a>
  	<a class="btn btn-lg btn-success" routerLink="/login" role="button">Login &raquo;</a>
  </p>
  <p *ngIf="authService.loggedIn()" class="text-center">
    <a class="btn btn-lg btn-success" routerLink="/blog" role="button">View Blogs &raquo;</a>
  </p>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjhu5H7-4szD7mIF5A_w2CGDqgsbGz6i4WDPPURldu1O0ep_HP" alt="...">
      <div class="caption">
        <h3>Mongo DB</h3>
        <p>MongoDB is an open-source document database that provides high performance, high availability, and automatic scaling. MongoDB obviates the need for an Object Relational Mapping (ORM) to facilitate development.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTb7bwBLkhXTSe2BgHGZVz0jOC4bw8sGSYSomHdDDrL3boAcCK" alt="...">
      <div class="caption">
        <h3>Express JS</h3>
        <p>Express JS is an open-source document database that provides high performance, high availability, and automatic scaling. MongoDB obviates the need for an Object Relational Mapping (ORM) to facilitate development.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQto0lsnYwdFtkh8E4AnWCq4TlS8P2cTpuqlemVtraj5MSD6zt9" alt="...">
      <div class="caption">
        <h3>Angular JS</h3>
        <p>Angular JS is an open-source document database that provides high performance, high availability, and automatic scaling. Angular obviates the need for an Object Relational Mapping (ORM) to facilitate development. Angular obviates the need for an Object Relational Mapping.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjhu5H7-4szD7mIF5A_w2CGDqgsbGz6i4WDPPURldu1O0ep_HP" alt="...">
      <div class="caption">
        <h3>Mongo DB</h3>
        <p>MongoDB is an open-source document database that provides high performance, high availability, and automatic scaling. MongoDB obviates the need for an Object Relational Mapping (ORM) to facilitate development.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSTb7bwBLkhXTSe2BgHGZVz0jOC4bw8sGSYSomHdDDrL3boAcCK" alt="...">
      <div class="caption">
        <h3>Express JS</h3>
        <p>Express JS is an open-source document database that provides high performance, high availability, and automatic scaling. MongoDB obviates the need for an Object Relational Mapping (ORM) to facilitate development.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQto0lsnYwdFtkh8E4AnWCq4TlS8P2cTpuqlemVtraj5MSD6zt9" alt="...">
      <div class="caption">
        <h3>Angular JS</h3>
        <p>Angular JS is an open-source document database that provides high performance, high availability, and automatic scaling. Angular obviates the need for an Object Relational Mapping (ORM) to facilitate development. Angular obviates the need for an Object Relational Mapping.</p>
        <p class="text-center"><a href="#" class="btn btn-primary" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>


